.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-gap: 1rem;
  height: 100vh;
}
.box {
  height: 100%;
  width: 100%;
}

.box1 {
  background: blue;
}
.box2 {
  background: green;
  padding: 5rem;
}
.box3 {
  background: yellow;
}
.box4 {
  background: black;
}
.box5 {
  background: dodgerblue;
}
.box6 {
  background: orangered;
}
.box7 {
  background: grey;
}
.box8 {
  background: pink;
}
